!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title bizistats | Donostiako bizikleta publikoen erabilera estatitikak
    | <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/css/app.css')
  body
    block body